/* WSTAWIĆ FIELDSET (???) */

html
{
	height: 100%;
}

body
{
	height: 100%;
	
	margin: 0 auto;
	padding: 0;
	
	background-color: white;
	
	width: 50%;
	
	text-align: center;
}

#info
{
	width: 66%;
	margin-left: auto;
	margin-right: auto;
}

hr
{
	border: 2px solid black;
	border-radius: 2px;
}

.img-photo
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	border: 2px solid black;
}

#text
{
	width: 100%;
	
	font-style: italic;
}

.mybutton
{
	width: 100%;
	height: 50px;
	
	color: black;
	background-color: white;
	border: 2px solid black;
	
	font-weight: bold;
	font-size: 25px;
	
	border-radius: 15px;
	
	margin-bottom: 25px;
}

.mybutton:hover
{
	color: white;
	background-color: black;
}

.my-line
{
	margin-bottom: 25px;
}

.language
{
	font-family: "Courier New";

	border: 1px solid black;
	padding: 2px;
	margin: 2px;
	
	font-style: normal;
	font-weight: bold;
}

#copyrights
{
	background-color: black;
	color: white;
	
	border-radius: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
	
	width: 100%;
}

/*
 * *****************************************
 *  !!! MOBILE BELOW !!!
 * *****************************************
 * */

@media only screen and (max-width: 800px)
{
	body
	{
		width: 100%;
	}
	
	#info
	{
		width: 85%;
	}
}
